<div class="text-center">
  <h2>Contactos</h2>
</div>

<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Vanessa">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ruiz">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefono</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="16541356">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Correo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@gmail.com">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Carta de presentacion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">Enviar</button>
  </div>
</div>

