/* You can add global styles to this file, and also import other style files */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  